<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard_patients_style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
          <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <ul class="navbar__menu">
            <li class="navbar__item">
              <a href="/dashboard" class="navbar__links" id="home-page"
                >Dashboard</a
              >
            </li>
            <li class="navbar__item">
              <a href="/dashboard/facility" class="navbar__links" id="about-page">
                Facility</a>
            </li>
            <li class="navbar__item">
              <a href="/dashboard/patients" class="navbar__links" id="about-page">Patients</a>
          </li>
          </ul>
        </div>
      </nav>
      <div class="main" style="margin-left: 250px;
      margin-top: 100px;">
          <div class="boxes">
              <div class="box" style="background: lightsteelblue;">
              <h3 style="margin-bottom: 20px;">Home Isolation</h3>
              <p> <span style="font-size: x-large; font-weight: bolder;">168</span> </p>
            </div>
              <div class="box" style="background: lightsalmon;">
              <h3 style="margin-bottom: 20px;">Isolation Room</h3>
              <p> <span style="font-size: x-large; font-weight: bolder;">309</span> </p>
            </div>
              <div class="box" style="background: lightslategray;">
              <h3 style="margin-bottom: 20px;">Bed with Oxygen Support</h3>
              <p> <span style="font-size: x-large; font-weight: bolder;">50</span> </p>
            </div>
          </div>
          <div class="boxes">
              <div class="box" style="background: lightgreen;">
              <h3 style="margin-bottom: 20px;">ICU</h3>
              <p> <span style="font-size: x-large; font-weight: bolder;">0</span> </p>
            </div>
              <div class="box" style="background: lightpink;">
              <h3 style="margin-bottom: 20px;">ICU with Oxygen Support</h3>
              <p> <span style="font-size: x-large; font-weight: bolder;">50</span> </p>
            </div>
              <div class="box" style="background: lightseagreen;">
              <h3 style="margin-bottom: 20px;">ICU with non Incasive ventilator</h3>
              <p> <span style="font-size: x-large; font-weight: bolder;">0</span> </p>
            </div>
          </div>
          <div class="boxes">
              <div class="box" style="background: lightcoral;">
              <h3 style="margin-bottom: 20px;">ICU with Incasive ventilator</h3>
              <p> <span style="font-size: x-large; font-weight: bolder;">0</span> </p>
            </div>
              <div class="box" style="background: lightgoldenrodyellow;">
              <h3 style="margin-bottom: 20px;">Gynaecology ward</h3>
              <p> <span style="font-size: x-large; font-weight: bolder;">0</span> </p>
            </div>
              <div class="box" style="background: lightsteelblue;">
              <h3 style="margin-bottom: 20px;">Paediatric ward</h3>
              <p> <span style="font-size: x-large; font-weight: bolder;">0</span> </p>
            </div>
          </div>
      </div>
</body>
</html>