<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/dashboard_facility_style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__container">
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="/dashboard" class="navbar__links" id="home-page"
              >Dashboard</a
            >
          </li>
          <li class="navbar__item">
            <a href="/dashboard/facility" class="navbar__links" id="about-page">
              Facility</a>
          </li>
          <li class="navbar__item">
            <a href="/dashboard/patients" class="navbar__links" id="about-page">Patients</a>
        </li>
        </ul>
      </div>
    </nav>
    <div class="facility">
        
      <h2 style="padding-left: 12px; margin-bottom: 2px">Bombay Hospital</h2>

      <div class="hosp_details">
        <div class="type" style="padding-left: 15px">
          <p class="gray">Private Hospital</p>
          <br />
          <h4 style="margin-top: 20px;" class="down_m5">Last Updated:</h4>
          <p class="down_m10">1 day ago</p>
          <br />
          <h4 class="down_m5">Patient/Discharged</h4>
          <p>15/643</p>
        </div>
        <div class="info">
          <p class="gray">Mob: 987654321</p>
          <br />
          <div class="five_info">
            <div class="one">
              <br />
              <p style="margin-top: 15px;" class="down_m25">Covid</p>
              <br />
              <p class="down_m25">Non Covid</p>
              <br />
              <p>Total</p>
            </div>
            <div class="two" style="background: yellow;
            padding-left: 20px;
            margin-right: 20px;
            border-radius: 15px;
            padding-top: 10px;
            padding-bottom: 10px;">
                <p class="head" style="margin-bottom: 10px;">Ordinary Beds</p>
              <div class="used_total">
                <div class="used">
                  <p class="red down_m8">Used</p>
                  <p class="down_m20">9/45</p>
                </div>
                <div class="total">
                  <p class="green down_m8">Vacant</p>
                  <p class="down_m20">36</p>
                </div>
                <div class="used">
                  <p class="red down_m8">Used</p>
                  <p class="down_m20">9/20</p>
                </div>
                <div class="total">
                  <p class="green down_m8">Vacant</p>
                  <p class="down_m8">11</p>
                </div>
                <div class="used">
                  <p class="red down_m8">Used</p>
                  <p>18/65</p>
                </div>
                <div class="total">
                  <p class="green down_m8">Vacant</p>
                  <p>47</p>
                </div>
              </div>
            </div>
            <div class="three" style="background: lightskyblue;
            padding-left: 20px;
            margin-right: 20px;
            border-radius: 15px;
            padding-top: 10px;
            padding-bottom: 10px;">
              <p style="margin-bottom: 10px">Oxygen Beds</p>
              <div class="used_total">
                <div class="used">
                  <p class="red down_m8">Used</p>
                  <p class="down_m20">20/30</p>
                </div>
                <div class="total">
                  <p class="green down_m8">Vacant</p>
                  <p class="down_m20">10</p>
                </div>
                <div class="used">
                  <p class="red down_m8">Used</p>
                  <p class="down_m20">5/10</p>
                </div>
                <div class="total">
                  <p class="green down_m8">Vacant</p>
                  <p class="down_m8">5</p>
                </div>
                <div class="used">
                  <p class="red down_m8">Used</p>
                  <p>25/40</p>
                </div>
                <div class="total">
                  <p class="green down_m8">Vacant</p>
                  <p>15</p>
                </div>
              </div>
            </div>
            <div class="four" style="background: lightpink;
            padding-left: 20px;
            margin-right: 20px;
            border-radius: 15px;
            padding-top: 10px;
            padding-bottom: 10px;">
                <p style="margin-bottom: 10px;">Ventilator</p>

<div class="used_total">
    <div class="used">
      <p class="red down_m8">Used</p>
      <p class="down_m20">10/10</p>
    </div>
    <div class="total">
      <p class="green down_m8">Vacant</p>
      <p class="down_m20">0</p>
    </div>
    <div class="used">
      <p class="red down_m8">Used</p>
      <p class="down_m20">18/20</p>
    </div>
    <div class="total">
      <p class="green down_m8">Vacant</p>
      <p class="down_m8">2</p>
    </div>
    <div class="used">
      <p class="red down_m8">Used</p>
      <p>28/30</p>
    </div>
    <div class="total">
      <p class="green down_m8">Vacant</p>
      <p>2</p>
    </div>
  </div>
            </div>
            <div class="five" style="background: lightgoldenrodyellow;
            padding-left: 20px;
            margin-right: 20px;
            border-radius: 15px;
            padding-top: 10px;
            padding-bottom: 10px;">
              <p style="
    margin-bottom: 10px;
">ICU</p>
<div class="used_total">
    <div class="used">
      <p class="red down_m8">Used</p>
      <p class="down_m20">5/25</p>
    </div>
    <div class="total">
      <p class="green down_m8">Vacant</p>
      <p class="down_m20">20</p>
    </div>
    <div class="used">
      <p class="red down_m8">Used</p>
      <p class="down_m20">15/15</p>
    </div>
    <div class="total">
      <p class="green down_m8">Vacant</p>
      <p class="down_m8">0</p>
    </div>
    <div class="used">
      <p class="red down_m8">Used</p>
      <p>20/40</p>
    </div>
    <div class="total">
      <p class="green down_m8">Vacant</p>
      <p>20</p>
    </div>
  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="facility">
        
      <h2 style="padding-left: 12px; margin-bottom: 2px">Cooper Hospital</h2>

      <div class="hosp_details">
        <div class="type" style="padding-left: 15px">
          <p class="gray">Public Hospital</p>
          <br />
          <h4 style="margin-top: 20px;" class="down_m5">Last Updated:</h4>
          <p class="down_m10">22 hours ago</p>
          <br />
          <h4 class="down_m5">Patient/Discharged</h4>
          <p>60/120</p>
        </div>
        <div class="info">
          <p class="gray">Mob: 987654321</p>
          <br />
          <div class="five_info">
            <div class="one">
              <br />
              <p style="margin-top: 15px;" class="down_m25">Covid</p>
              <br />
              <p class="down_m25">Non Covid</p>
              <br />
              <p>Total</p>
            </div>
            <div class="two" style="background: yellow;
            padding-left: 20px;
            margin-right: 20px;
            border-radius: 15px;
            padding-top: 10px;
            padding-bottom: 10px;">
                <p class="head" style="margin-bottom: 10px;">Ordinary Beds</p>
              <div class="used_total">
                <div class="used">
                  <p class="red down_m8">Used</p>
                  <p class="down_m20">10/10</p>
                </div>
                <div class="total">
                  <p class="green down_m8">Vacant</p>
                  <p class="down_m20">0</p>
                </div>
                <div class="used">
                  <p class="red down_m8">Used</p>
                  <p class="down_m20">13/15</p>
                </div>
                <div class="total">
                  <p class="green down_m8">Vacant</p>
                  <p class="down_m8">2</p>
                </div>
                <div class="used">
                  <p class="red down_m8">Used</p>
                  <p>23/25</p>
                </div>
                <div class="total">
                  <p class="green down_m8">Vacant</p>
                  <p>2</p>
                </div>
              </div>
            </div>
            <div class="three" style="background: lightskyblue;
            padding-left: 20px;
            margin-right: 20px;
            border-radius: 15px;
            padding-top: 10px;
            padding-bottom: 10px;">
              <p style="margin-bottom: 10px">Oxygen Beds</p>
              <div class="used_total">
                <div class="used">
                  <p class="red down_m8">Used</p>
                  <p class="down_m20">20/30</p>
                </div>
                <div class="total">
                  <p class="green down_m8">Vacant</p>
                  <p class="down_m20">10</p>
                </div>
                <div class="used">
                  <p class="red down_m8">Used</p>
                  <p class="down_m20">10/20</p>
                </div>
                <div class="total">
                  <p class="green down_m8">Vacant</p>
                  <p class="down_m8">10</p>
                </div>
                <div class="used">
                  <p class="red down_m8">Used</p>
                  <p>30/50</p>
                </div>
                <div class="total">
                  <p class="green down_m8">Vacant</p>
                  <p>20</p>
                </div>
              </div>
            </div>
            <div class="four" style="background: lightpink;
            padding-left: 20px;
            margin-right: 20px;
            border-radius: 15px;
            padding-top: 10px;
            padding-bottom: 10px;">
                <p style="
                margin-bottom: 10px;
            ">Ventilator</p>

<div class="used_total">
    <div class="used">
      <p class="red down_m8">Used</p>
      <p class="down_m20">18/30</p>
    </div>
    <div class="total">
      <p class="green down_m8">Vacant</p>
      <p class="down_m20">12</p>
    </div>
    <div class="used">
      <p class="red down_m8">Used</p>
      <p class="down_m20">2/10</p>
    </div>
    <div class="total">
      <p class="green down_m8">Vacant</p>
      <p class="down_m8">8</p>
    </div>
    <div class="used">
      <p class="red down_m8">Used</p>
      <p>20/40</p>
    </div>
    <div class="total">
      <p class="green down_m8">Vacant</p>
      <p>20</p>
    </div>
  </div>
            </div>
            <div class="five" style="background: lightgoldenrodyellow;
            padding-left: 20px;
            margin-right: 20px;
            border-radius: 15px;
            padding-top: 10px;
            padding-bottom: 10px;">
              <p style="
    margin-bottom: 10px;
">ICU</p>
<div class="used_total">
    <div class="used">
      <p class="red down_m8">Used</p>
      <p class="down_m20">6/10</p>
    </div>
    <div class="total">
      <p class="green down_m8">Vacant</p>
      <p class="down_m20">4</p>
    </div>
    <div class="used">
      <p class="red down_m8">Used</p>
      <p class="down_m20">3/5</p>
    </div>
    <div class="total">
      <p class="green down_m8">Vacant</p>
      <p class="down_m8">2</p>
    </div>
    <div class="used">
      <p class="red down_m8">Used</p>
      <p>9/15</p>
    </div>
    <div class="total">
      <p class="green down_m8">Vacant</p>
      <p>6</p>
    </div>
  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    </div>
  </body>
</html>
